@tailwind base;
@tailwind components;
@tailwind utilities;

.shimmer-img {
  background: linear-gradient(0deg, #dedbd2, #b0c4b1);
  background-size: 400% 400%;

  -webkit-animation: loading 1s ease-in-out infinite;
  -moz-animation: loading 1s ease-in-out infinite;
  -o-animation: loading 1s ease-in-out infinite;
  animation: loading 1s ease-in-out infinite;
}

@-webkit-keyframes loading {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}
@-moz-keyframes loading {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}
@-o-keyframes loading {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}
@keyframes loading {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
}

.contact-us-form > form > input {
  outline: none;
}
